/* 
* Some CSS Custom Resets 
* 1. Remove default margin
* 2. Set the Percentage-based heights, including root for future React development
* 3. Tweaking line-height
* 4. Font smoothing with antialiased
* 5. Sensible media defaults for img, video and others
* 6. Inherit fonts for form controls
* 7. Tweak Word wrapping
* 8. Optional: for future react development, Root stacking context 
*/

* {
    margin: 0;
    box-sizing: border-box;
}

/* html, body, #__next {
  height: 100%;
} */

/* ---- Base Rules ---- */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 1rem 4rem;
    font-family: 'Merriweather', serif;
    color: rgb(2, 2, 2);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}